<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Regression Test"  thread-count = "3" parallel = "tests" verbose="3">


	<test name="Amazon Test">
	<parameter name = "browser" value ="chrome"/>
    <parameter name = "url" value ="https://www.amazon.com/"/> 
		<classes>
			<class name="testNgSessions.AmazonTest" />
		</classes>

	</test>

	<test name="Classiccrm Test">
	<parameter name ="browser" value ="firefox"/>
	 <parameter name = "url" value ="https://classic.freecrm.com/"/>

		<classes>
			<class name="testNgSessions.ClassiccrmTest" />
		</classes>

	</test>
	
	<test name="Orange Hrm Test">
	<parameter name ="browser" value="chrome"/>
	<parameter name ="url" value="https://www.orangehrm.com/orangehrm-30-day-trial/"/>

		<classes>
			<class name="testNgSessions.OrangeHrmTest" />
		</classes>

	</test>


</suite>